@chatset: "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


:root {
    --orange: #D2872C;
    --gray: #766F68;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    max-width: 1080px;
    margin: auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    margin-top: 25px;
}

#btn-mobile {
    display: none;
}

.logo {
    color: var(--orange);
    font-size: 1.5rem;
    font-weight: 700;
    
}

#menu {
    display: flex;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--gray);
    font-size: 1.2rem
}

#menu a:hover {
    color: black;
    font-shadow: 0px 0px 16px rgba(0, 0, 0, 1);
}

#menu a {
    display: block;
}

main {

}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.content-website {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 15%;
    top: 115px;
    float: left;
    z-index: 999;
}

div {
    display: flex;
    flex-direction: row;    
    position: absolute;
    top: 130px;
    left: 45%;
}

h1 {
    color: var(--gray);
    font-size: 3rem;
    text-align: left;
    margin-bottom: 1.5rem;
}

p {
    color: var(--gray);
    font-size: 1.2rem;
    margin-bottom: 1.8rem;
}

main button {
    background-color: var(--orange);
    color: white;
    border: 0;
    font-size: 1.3rem;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

main button:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}

img {
    max-width: 450px;
}


@media only screen and (max-width: 1080px) {
    
    .content-website {
        left: 13%;
    }

    div {
        left: 44%;
    }
}

@media only screen and (max-width: 950px) {
    
    .content-website {
        left: 11%;
    }

    div {
        left: 42%;
    }
}

@media only screen and (max-width: 860px) {
    
    .content-website {
        left: 9%;
    }

    div {
        left: 39%;
    }
}

@media only screen and (max-width: 860px) {
    
    section {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: static;
        margin-top: 100px;
    }

    .content-website {
        position: static;
        align-items: center;
    }

    div {
        position: static;
        margin-bottom: 30px;
    }

    h1 {
        color: var(--gray);
        font-size: 3rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    
    p {
        color: var(--gray);
        font-size: 1.2rem;
        margin-bottom: 1.8rem;
        text-align: center;
    }
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        background: white;
        width: 100%;
        top: 120px;
        right: 0px;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        visibility: visible;
        height: calc(100vh - 120px);
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0px 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

#btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }

    #hamburger {
        display: block;
        width: 20px;
        border-top: 2px solid;
    }

    #hamburger::after, #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media only screen and (max-width: 530px) {
    img {
        max-width: 330px;
    }
}

